@using BonsaiGenerators;
@using BonsaiGenerators.Content;

@page "/RealNames/All"

<h3 class="p-2 text-3xl">All Countries and Cultures</h3>

<hr class="px-8" />

<NameGeneratorDisplay generator="@generator" />

@code {
    private RandomNameGenerator generator = new AllNames();
}