@using BonsaiGenerators;
@using BonsaiGenerators.Content;

@page "/RealNames/French"

<h3 class="p-2 text-3xl">French Names</h3>

<hr class="px-8" />

<NameGeneratorDisplay generator="@generator" />

@code {
    private RandomNameGenerator generator = new FrenchNames();
}