<div class="flex flex-row md:flex-col justify-between h-full">
    <div>
        <NavLink class="text-2xl my-2" href="" Match="NavLinkMatch.All">
            <img src="img/bonsai.png" class="ml-4" width="64" height="64" />

            <h2 class="text-4xl">
                Bonsai
            </h2>
        </NavLink>
        <hr class="my-2" />

        <div class="flex md:flex-col flex-row">
            <div class="pr-4 md:pr-1">
                <h4 class="text-xl mt-4"> Names</h4>
                <ul class="flex flex-row md:flex-col md-auto md:list-disc ">

                    <li class=" text-l md:ml-4 m-1 nav-item">
                        <NavLink class="" href="RealNames">Real</NavLink>
                    </li>
                    <li class=" text-l md:ml-4 m-1 nav-item">
                        <NavLink class="" href="FantasyNames">Fantasy</NavLink>
                    </li>
                    <li class=" text-l md:ml-4 m-1 nav-item">
                        <NavLink class="" href="MiscellaneousNames">Miscellaneous</NavLink>
                    </li>
                </ul>
            </div>

            <div class="pr-4 md:pr-1">
                <h4 class="text-xl mt-4">Misc</h4>
                <ul class="flex flex-row md:flex-col md-auto md:list-disc ">
                    <li class="text-l md:ml-4 m-1 nav-item">
                        <NavLink class="" href="XKCDCalendarFact">
                            Calender Fact
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="hidden md:block">
        <i class="lni lni-github-original pr-1"></i><a href="https://github.com/Tzarnal/Bonsai"> On Github</a>
    </div>
</div>

@code {
}