<div class="">
    <a class="" href="">Bonsai</a>
</div>

<div class="">
    <ul class="">
        <li class="">
            <NavLink class="" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="">
            <NavLink class="" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
    </ul>
</div>

@code {

}