@page "/"

<h1 class="py-2 text-3xl">Bonsai Random Generators</h1>

<p class="py-2">Bonsai random generators are here to help or amuse you by randomly generating things like rpg characters, names, scenarios or miscellaneous things.</p>

<p class="py-2">To get started select something from the side bar.</p>