@page "/RealNames"

<h3 class="p-2 text-3xl">Names From Real Countries or Cultures</h3>
<hr class="my-2" />

<ul class="list-disc  list-inside size grid grid-cols-2 w-max mr-4">
    <li class="pr-4">
        <NavLink href="/RealNames/NorthAmerican">American (North)</NavLink>
    </li>

    <li class="pr-4">
        <NavLink href="/RealNames/Dutch">Dutch</NavLink>
    </li>
</ul>

@code {

}