@page "/RealNames"

<h3 class="p-2 text-3xl">Names From Real Countries or Cultures</h3>
<hr class="my-2" />

<ul class="list-disc list-inside size grid grid-cols-2 w-max">
    <li class="">
        <NavLink href="/RealNames/Dutch">Dutch</NavLink>
    </li>
    
</ul>

@code {

}