@page "/XKCDCalendarFact"

@using BonsaiGenerators.Content;

<h3 class="p-2 text-3xl"><a href='https://xkcd.com/1930/'>XKCD Calendar 'Facts'</a></h3>

<p class="p-2">Fun little calendar facts according to <a href="https://xkcd.com/1930/">Randal Munroe <span class="oi oi-external-link"></span></a></p>

<hr class="px-8" />

<div class=""><BonsaiButton ClickHandler="GenerateContent">Generate</BonsaiButton></div>

<hr class="px-8" />

<p class="b-1 p2">@Content</p>

@code {
    private XKCDCalendarfact generator = new XKCDCalendarfact();

    string Content;

    private void GenerateContent()
    {
        Content = generator.Next();
    }
}