@using BonsaiGenerators;
@using BonsaiGenerators.Content;

@page "/RealNames/Dutch"

<h3 class="p-2 text-3xl">Dutch Names</h3>

<hr class="px-8" />

<div class="space-x-3">
    <BonsaiButton ClickHandler="Generate">More</BonsaiButton>
    <BonsaiDropdown @bind-Value="nameCountString" OnUpdate="@CountDropdownChanged" Options="dropDownValues" />
    <BonsaiCheckbox @bind-Value="MixGenders">Mixed Genders</BonsaiCheckbox>
</div>

<hr class="px-8" />

@if (MixGenders)
{
<ul class="list-disc list-inside p-4 size grid grid-cols-2 w-max">
    @for (int i = 0; i < nameCount; i++)
        {
    <li class="pr-4">
        @generator.ToString()
    </li>
        }
</ul>
}
else
{
<div class="grid grid-cols-2 w-max mt-4">
    <div>
        <h3 class="text-2xl font-bold">Male</h3>
        <hr class="m-2" />
        <ul class="list-disc list-inside size w-max mr-4">
            @for (int i = 0; i < nameCount / 2; i++)
                {
            <li class="pr-4">
                @generator.MaleFullName()
            </li>
                }
        </ul>
    </div>
    <div>
        <h3 class="text-2xl font-bold">Female</h3>
        <hr class="m-2" />
        <ul class="list-disc list-inside size w-max">
            @for (int i = 0; i < nameCount / 2; i++)
                {
            <li class="pr-4">
                @generator.FemaleFullName()
            </li>
                }
        </ul>
    </div>
</div>
}

@code {
    private RandomNameGenerator generator = new DutchNames();

    private int nameCount = 10;
    private string nameCountString = "10";
    private List<string> dropDownValues = new() { "10", "20", "50" };

    private bool MixGenders { get; set; } = true;

    private void Generate()
    {
        StateHasChanged();
    }

    private void CountDropdownChanged(string Value)
    {
        nameCount = int.Parse(Value);
        StateHasChanged();
    }
}