@using BonsaiGenerators;
@using BonsaiGenerators.Content;

@page "/FantasyNames/Human"

<h3 class="p-2 text-3xl">Human Names</h3>

<hr class="px-8" />

<NameGeneratorDisplay generator="@generator" />

@code {
    private RandomNameGenerator generator = new HumanNames();
}