@using BonsaiGenerators;
@using BonsaiGenerators.Content;

@page "/FantasyNames/LOTRHobbit"

<h3 class="p-2 text-3xl">LOTR: Hobbit Names</h3>

<hr class="px-8" />

<NameGeneratorDisplay generator="@generator" />

@code {
    private RandomNameGenerator generator = new LOTRHobbitNames();
}