<div class="inline-block align-top m-2 mr-0">
    @if (!Disabled)
    {
        <button @onclick="ClickHandler" class="bonsai-form flex bg-blue-400 hover:bg-blue-600 rounded-lg font-bold text-white text-center align-top mt-0 px-2 pt-1.5 h-10 ease-in-out transition duration-300">@ChildContent</button>
    }
    else
    {
        <button class="bonsai-button flex bg-gray-600 rounded-lg font-bold text-white text-center text-center align-top mt-0 mr-6 px-2 pt-button h-10">@ChildContent</button>
    }
</div>

@code {
    [Parameter]
    public EventCallback ClickHandler { get; set; }

    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}