@page "/FantasyNames"

<h3 class="p-2 text-3xl">Generic Fantasy Names</h3>
<hr class="my-2" />

<ul class="list-disc  list-inside size grid grid-cols-2 w-max mt-6 mr-4">
    <li class="pr-4">
        <NavLink href="/FantasyNames/Human">Human</NavLink>
    </li>
    <li class="pr-4">
        <NavLink href="/FantasyNames/Dragonborn">Dragonborn</NavLink>
    </li>
</ul>

@code {

}